h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(25, 25, 90);
}

body{
    background-color: rgb(224, 120, 176);
}
#CancionKanye{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(95, 34, 95);
}
.estiloespecial{
    color: brown;
    font-size: 30px;
}
header{
    background-color: blue;
    margin: 20px;
    padding: 20px;
    border: 3px solid;
    border-radius: 30px;
}
footer{
    background-color: rgb(63, 59, 59);
}
#fotokanye{
    margin: 20px;
    border: 30px solid;
    width: 100px;
}
.boton{
    width: 134px;
    height: 37px;
    border-radius: 30px;
    background: #AC1C10;
    margin: 20px;
    list-style: none;
    text-align: center;
    
}
.boton a{
    color: white;
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fotoprincipal{
    width: 400px;
    height: auto;
}
.clasecontenedor{
    background-color: rgb(14, 8, 8);
    width: 70%;
    display: flex;
}